body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url(Untitled.jpg) no-repeat center  center / cover;
  }
  
  .movie {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    color: #ddd;
  }
  
  .movie img {
    max-width: 150px;
    margin-right: 20px;
  }
  
  .movie-details {
    flex: 1;
}
.tosearch{
    display: flex;
    gap: 1cm;
    justify-content: center;
    width: 100%;
    input{
        padding: 4px;
        border-radius: 0.5rem;
    }
    button{
        padding: 4px;
        border-radius: 0.5rem;
    }
    button:hover{
        background: gray;
    }
}
.dbars{
    display: flex;
    justify-content: space-between;
    .fsb{
       display: flex;
       a{
        margin-top: 14%;
        font-size: 30px;
        text-decoration: none;
       }
       h4{
        color: rgb(196, 199, 199);
        letter-spacing: -2px;
        margin-top: 20%;
        margin-left: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       }
        a{
            color: #ddd;
        }
    }
    .ssb{
       display: flex;
       margin-left: -10%;
       margin-top: 3%;
       list-style: none;
       gap: 0.4cm;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       .home{
        font-weight: bold;
       }
       a{
        text-decoration: none;
        color: #ddd;
       }
       a:hover{
        text-decoration: underline;
        color: #c23f3f;
       }
    }
    .tsb{
       display: flex;
       gap: 0.4cm;
       margin-top: 3%;
       a{
        font-size: 12px;
        margin-top: 4%;
       }
       a{
        color: #ddd;
       }
       .btn1{
        background: none;
        padding: 3.7px 10px;
        border-radius: 5px;
        color: rgb(196, 199, 199);
        border: solid 1px rgb(196, 199, 199);
       }
       .btn2{
        background: rgba(33, 222, 150, 0.803);
        color: rgb(196, 199, 199);
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
       }
    }
}


.mainb{
    background-image: url('./starwars_uusi_vaaka.jpg');
    background-size: cover;
    background-position: center;
    margin: 5%;
}
.maina{
    color: #fff;
    margin: 20% 0% 0% 3%;
    padding-bottom: 10%;
    .themovie{
        font-size: 5px;
        font-weight: bolder;
        margin-left: 1.5%;
        /* margin-top: -10%; */
    }
    .writeup{
        line-height: 0.2;
        h2{
            font-weight: bolder;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .p1{
            font-size: 5px;
            font-weight: 900;
            opacity: 0.5;
        }
        .p2{
            width: 36%;
            line-height: 1;
            font-size: 8px;
            opacity: 0.8;
        }
    }
    .btnall{
        display: flex;
        gap: 0.5cm;
        .btn3{
            display: flex;
            align-items: center;
            gap: 0.2cm;
            border: none;
            border-radius: 5px;
            padding:0% 2%;
            background: rgba(33, 222, 150, 0.803);
        }
        .btn4{
            display: flex;
            align-items: center;
            gap: 0.2cm;
            border: solid 0.1px #fff;
            border-radius: 5px;
            padding:0% 2%;
            background: rgb(42, 37, 37);
        }
        i{
            margin-top: 3%;
            color: #fff;
            font-size: 7px;
        }
        p{
            font-size: 7px;
            color: #fff;
        }
    }
}
.empty{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 0.09cm;
    margin-top: -2.5%;
    span{
        border-radius: 50%;
        &:first-child{
            background-color: #fff;
            height: 5px;
            width: 5px;
        }
        &:nth-child(2){
            background-color: rgb(104, 107, 106);
            height: 3.5px;
            width: 3.5px;
        }
        &:nth-child(3){
            background-color: rgb(104, 107, 106);
            height: 3.5px;
            width: 3.5px;
        }
        &:nth-child(4){
            background-color: rgb(104, 107, 106);
            height: 3.5px;
            width: 3.5px;
        }
        &:last-child{
            background-color: rgb(104, 107, 106);
            height: 3.5px;
            width: 3.5px;
        }
    }
}

.logos{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: -2% 10%;
   .logoslast{
        display: flex;
        gap: 0.05cm;
        span{
            height: 10px;
            width: 7px;
            border: solid 3px rgb(196, 158, 6);
        }
        p{
            color: #fff;
            font-size: 4px;
            width: 1%;
            margin-top: 6%;
        }
        button{
            color: rgb(48, 48, 48);
            margin-left: 40%;
            background: url(/APIproject/Untitled.jpg) no-repeat center  center / cover;
            border: none;
            cursor: pointer;
        }
   }
}

.laslas{

    p{
        color: #fff;
        margin: 5%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
    }
    .dima{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            margin-left: -10%;
            margin-right: 15%;
        }
    }
}

#navcontent{
    position: absolute;
    height: 95%;
    width: 25%;
    margin-top: -87.5%;
    left: 20;
    background: rgb(51, 50, 50);
    border-radius: 2.5%;
    line-height: 200%;
    opacity: 0.99;
    display: none;
}
#closenav{
    position: absolute;
    right: 0%;
    margin: 10%;
    font-size: 30px;
    a{
        color: #ddd;
    }
}
.lists{
    margin: 50% 10%;
    font-size: 20px;
    line-height: 150%;
    a{
        color: #000;
    }
    a:hover{
        color: #fff;
        font-size: 25px;
        transition: 0.2s;
    }
}


@media (min-width: 320px){
    .mainb{
        font-size: 20px;
        .dbars{
            .fsb{
                h4{
                    margin: 25px;
                }
            }
            .ssb{
                display: flex;
                
            }
        }
    }
    .tosearch{
        #searchText{
            width: 35%;
        }
    }
    .laslas{
        .dima{
            margin-left: 17%;
        }
    }
}

@media (max-width: 900px) {
    .mainb {
        font-size: 18px;
        .dbars{
            .fsb{
                h4{
                    margin: 19px;
                }
            }
        }
    }
    .tosearch {
        #searchText {
            width: 50%;
        }
    }
    .laslas {
        .dima {
            margin-left: 5%; 
        }
    }
}